{{#link-to "home"}}
  <header>
    <img class="logo" src="https://cdn.vox-cdn.com/uploads/chorus_asset/file/8552631/leather_book_preview.png">
    <h1 class="title">Galvanize Reads</h1>
  </header>
{{/link-to}}
<body>
  {{outlet}}
</body>
